*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  width: 100%;
}

.imgRickAndMorty{
  width: 100%;
}

.main{
  width: 100%;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 270px);
    gap: 150px;
    background: linear-gradient(90deg, #4ba9e9, #4ba9e9 50%, #fff 50%, #fff 100%);
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 400px;
    background-color: #fff;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    margin: 20px;
}

.imageCharacter{
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.25);
    margin: 20px;
}